/*
font family to be used
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;

*/

/*
colors for layout

Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343
*/
body {
  margin: 0 0 -16px 0;
  font-family: 'Merriweather', serif;
}
header {
  padding-bottom: 5px;
  margin-bottom: -23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 1;
  position: sticky;
  top: 0px;
  box-shadow: 0px 2px 0px 0px lightgrey;
}

#logo {
    height: 50px;
    padding-top: 5px;
}

.nav_buttons {
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}

nav a {
  padding: 0 10px;
}

a:link {
    color: #2B2F26;
}

a:visited {
    color: #2B2F26;
}

a:hover {
    color: #CD5D67;
}

#home_active:active {
    color: #968772;
}

h1 {
  text-align: center;
}

h2 {
  font-weight: 600;
  font-size: 50px;
  font-weight: normal;
}
h4 {
  margin: -35px 0px 55px 0px;
  font-weight: lighter;
}

.wrapper {
  background-color: #F2F1E8;
  padding-top: 20px;
}


.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 27px;
    margin-top: 15px;
}

.products {
    display: flex;
    justify-content: center
}

img.first_row_images {
  height: 300px;
  max-width: 600px;
}

#first_image {
  width: 505px;
}

img.second_row_images {
    height: 146px;
    max-width: 300px;
}

#sixth_image {
  width: 300px;
}

article {
  padding: 0 10px;
}

article span {
  color: #F1EED7;
  background-color: #2B2F27;
  padding: 7px;
  position: relative;
  bottom: 70px;
}

main section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.top_image_section {
  margin-bottom: -35px;
}

footer {
  color: #F2F1E9;
  background-color: #2B2F27;
}

footer p {
  padding: 20px;
}

/*This section is for the newsletter page*/

#newsletter_wrapper {
  background-image: url("images/background-2.jpg");
  background-size: cover;
  height: 512px;
  display: flex;
  justify-content: center;
  align-items: center;
}

fieldset {
  text-align: center;
  background-color: white;
}

input {
  border: 0;
  border-bottom: 2px solid #B7AEA4;
  width: 400px;
  padding: 20px 0 5px 0;
  color: grey;
}

button {
  background-color: #968774;
  padding: 10px 45px;
  margin: 20px 0;
  border: 0;
  color: white;
}
/* End of newsletter styling*?

/*This section is for the about page*/
#about-title {
  font-size: 60px;
}
#birdhouse {
  max-width: 150px;
  max-height: 150px;
  padding: 0 25px 25px 0;
  float: left;
}

.intro-and-image {
  display: inline;
}

blockquote {
  padding: 20px;
  border-left: 1px solid #978774;
  margin: 0px 45px 0px 0px;
  font-style: italic;
}

#mid-image {
  background-image: url("images/background-3.jpg");
  height: 300px;
  background-size: cover;
  align-items: center;
}

#image-words {
  color: #F2F1E8;
}

.word-content {
  padding: 0 93px;
  line-height: 44px;
  justify-content: flex-start;
}

.facilities-paragraph {
  justify-content: flex-start;
}

#facilities-image {
  max-width: 135px;
  max-height: 135px;
}

.facilities-side-paragraph {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  line-height: 15px;
}

.facilities {
  flex-wrap: nowrap;
}

#facilities-image-paragraph {
  font-weight: lighter;
}

.monthly-plans-table {
  flex-direction: column;
  padding-top: 10px;
}

table {
  margin: -25px 0 35px 0;
}

table, th, tr, td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 10px;
}
.shaded-row {
  background-color: #F2EADD
}
